    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 50px;
    }
    .container {
        max-width: 600px;
        margin: auto;
    }
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
        background-color: aquamarine;
    }
    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        border-radius: 10;
        transition: border-color 0.3s ease-in-out;
    }
    input:focus {
        border-color: aquamarine;
        outline: none;
    }
    .cont {
        background-color: #02537d;
        color: white;
        padding: 14px;
        margin: 15px 0;
        border-radius: 5px;
        opacity: 0;
        border-color: aquamarine;
        transform: translateY(20px);
        transition: all 0.5s ease-in-out;
        border: 2px solid aquamarine;
    }
    .cont.show {
        opacity: 1;
        transform: translateY(0);
        
    }
